.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content {
    height: 150px;
    margin-left: 20%;
    margin-right: 20%;
    overflow: auto;

}

main {
    min-height: calc(100vh - 100px);
}

.checked {
    color: orange;
}

.offcanvas-top {
    height: fit-content;
}

#descripcion {
    color: rgb(117, 117, 117);
}

.titulo {
    color: rgb(255, 255, 255);


}

.contenido {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cursor-active {
    cursor: pointer;
}